<%= link_to("<< Back to list", books_path, :class => 'back-link') %>

<div class="books edit">
  <h2>Edit Book</h2>
  
  <%= form_for(@book) do |f| %>
   
  <%= render "form", user: @user %>
<div class="form-buttons">
  <%= f.submit("Update Book")%>
</div>

 <% end %>
 
</div>