<h1>Books#show</h1>
<p><%= link_to('Edit Book', edit_book_path(@book)) %></p>

<div class="books show">
  <h2>Show Books</h2>
    <table summary="Book detailed view">
    <th>Title</th>
    
    </table>
</div>