
<%= link_to("Back to Main Page", users_path) %>
<table class="summary">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @user.gender %></td>
  </tr>
</table>