<table id="books_table">
<thead>
  <tr>
  <th>Title</th>
  <th>Publisher</th>
  <th>Genre</th>
  </tr>
</thead>
  <tbody>
    <% @book.each do |book| %>
    <tr>
      <th><%= book.title %></th>
      <td><%= book.publisher %></td>
      <td><%= book.genre %></td>
    </tr>
    <% end %>
  </tbody>
</table>
