<%= link_to("<<Back to list", authors_path, :class => 'back-link') %>

<div class="authors edit">
<h1>Edit Author</h1>

  <%= form_for(@author) do |f| %>

<%= render "form", author: @author %>
<div class="form-button">
  <%= f.submit("Update Author") %>
</div>

<% end %>
</div>