<%= link_to('<<Back to List', users_path, :class => 'back-link') %>

<div class="users-new">
  <h2>New User</h2>

  <%= form_for(@user) do |f| %>
  <%= render(:partial => 'form', :locals => {:form => f})%>
  <div class="form-buttons">
  <%= f.submit("New User") %>
</div> 

<% end %>
</div>