<%= link_to 'ajax page', ajax_path, remote: true %>
<div id="ajax-content"></div>

<script>
  
  $(document).ready(function() {
  $('.country_select').change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == '') {
      // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
      $('.state_select option').remove();
      var row = '<option value=' + '0' + '>' + 'None' + '</option>';
      $(row).appendTo('.state_select');
    }
    else {
      // Send the request and update sub category dropdown
      $.ajax({
        dataType: 'json',
        type: 'GET',
        url: '/appointments/for_section_id/' + id_value_string,
        error: function(XMLHttpRequest, errorTextStatus, error){
          alert('Failed to submit : ' + errorTextStatus.charAt(0).toUpperCase() + errorTextStatus.slice(1).toLowerCase() +' - ' + error);
        },
        success: function(data){
          // Clear all options from sub section select
          $('.state_select option').remove();
          if (data.length === 0) {
            row = '<option value=' + '0' + '>' + 'None' + '</option>';
            $(row).appendTo('.state_select');
          } else {
          // Fill sub section select
            $.each(data, function(i, state){
              row = '<option value=' + state.id + '>' + state.state_name + '</option>';
              $(row).appendTo('.state_select');
            });
          }
        }
      });
    };
  });
});
</script>